@value color: green;
@value breakpoint: 1100px;

.layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.layout .header .pageTitle {
    font-size: 3em;
}

.layout .content {
    /* padding: 5em 10em; */
    width: 60%;
    margin: auto;
}


@media (max-width: breakpoint) {
    .layout .content {
        /* padding: 5em 2em; */
        width: 80%;
        margin: auto;
    }
}

